it should not add Whitespace Trim Characters (WTC) if the twig tag does not
break on a new line
<div>{{ 'hello' }}</div>

it should not add wtc if the twig tag breaks on a new line, is not leading
space sensitive and there was no leading space.
<div>{{ 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa' }}</div>

it should add wtc if the twig tag breaks on a new line and is leading space
sensitive
<span>{{ 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa' }}</span>

it should not add wtc if the twig tag breaks on a new line and the
previous/next characters were spaces
<div> {{ 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa' }} </div>

it should break next to a character, so there should be wtc
<div>
  Hey {{ 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa' }}, how are you doing?
</div>

it should add wtc when it adds hardlines in places there wasn't whitespace before
<span>{% render 'icon-error' %}{{ 'blogs.article.email' | t }} {{ form.errors.messages['email'] }}.</span>

